<div class="row">
    <div class="text-center">
        <h2>Latest blog posts</h2>
    </div>
</div>
<div id="grid" class="row flex-grid">
    {% for post in site.posts %}
    {% if forloop.index < 4 %}
        {% include post-tile.html %}
    {% endif %}
    {% endfor %}
    <article class="box-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <span class="category">
                    <a href="{{ site.url }}{{ site.baseurl }}/reading/">
                    </a>
                </span>
        <div class="box-body">
            <div class="cover">
                <a href="{{ site.url }}{{ site.baseurl }}/reading/">
                    <img src="https://images.pexels.com/photos/159866/books-book-pages-read-literature-159866.jpeg" class="preload">
                </a>
            </div>
            <div class="box-info">
                <a class="post-link" href="{{ site.url }}{{ site.baseurl }}/reading/">
                    <h2 class="post-title" itemprop="name">
                        More about books
                    </h2>
                </a>
                <a class="post-link" href="{{ site.url }}{{ site.baseurl }}/reading/">
                    <p class="description">Find more posts from <b>reading with @wel_ko</b> here.</p>
                </a>
            </div>
        </div>
    </article>
    <article class="box-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <span class="category">
                    <a href="{{ site.url }}{{ site.baseurl }}/writing/">
                    </a>
                </span>
        <div class="box-body">
            <div class="cover">
                <a href="{{ site.url }}{{ site.baseurl }}/writing/">
                    <img src="https://images.pexels.com/photos/6357/coffee-cup-desk-pen.jpg" class="preload">
                </a>
            </div>
            <div class="box-info">
                <a class="post-link" href="{{ site.url }}{{ site.baseurl }}/writing/">
                    <h2 class="post-title" itemprop="name">
                        More about writing
                    </h2>
                </a>
                <a class="post-link" href="{{ site.url }}{{ site.baseurl }}/writing/">
                    <p class="description">Find more posts from <b>@wel_ko is writing</b> here.</p>
                </a>
            </div>
        </div>
    </article>
</div>