<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<style type="text/css" media="screen">
    #gr_challenge_7501 {
        /* customize your Goodreads widget container here*/
        width: 520px;
        background-color: white;
        border-radius: 5px !important;
        border-width: 1px !important;
    }
    .challengePic {
        /* customize your Goodreads header here*/

    }

    #gr_challenge_progress_body_7501 h3 {
        border-bottom: 1px solid rgba(15,70,100,.12);
        padding: 10px;
        font: normal normal 27px Helvetica,Roboto,"Segoe UI",Calibri,sans-serif !important;
        text-align: left !important;
    }

    #gr_challenge_progress_body_7501 {
        margin-bottom: 10px;
    }

    #gr_challenge_progress_body_7501 h3 a {
        color: #292F33;
        font: normal normal 27px Helvetica,Roboto,"Segoe UI",Calibri,sans-serif !important;
    }

    #gr_challenge_progress_body_7501 div,
    #gr_challenge_progress_body_7501 a {
        /* customize each individual book container here */
        font: normal normal 1.063rem Helvetica,Roboto,"Segoe UI",Calibri,sans-serif !important;
    }
    #gr_challenge_progress_body_7501 h3 a {
        /* customize each individual book container here */
        font-size: 27px;
        /*TODO*/
    }
</style>

<div id="gr_challenge_7501" style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0px 7px 0px 7px; min-height: 100px">
    <div id="gr_challenge_progress_body_7501" style="font-size: 12px; font-family: georgia,serif;line-height: 18px">
        <h3 style="margin: 4px 0 10px; font-weight: normal;">
            <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/challenges/7501-2018-reading-challenge">2018 Reading Challenge</a>
        </h3>
        <div class="challengePic">
            <a rel="nofollow" href="https://www.goodreads.com/challenges/7501-2018-reading-challenge"><img alt="2018 Reading Challenge" style="float:left; margin-right: 10px; border: 0 none" src="https://images.gr-assets.com/challenges/1512582428p2/7501.jpg" /></a>
        </div>
        <div>
            <a rel="nofollow" href="https://www.goodreads.com/user/show/29067301-koen-wellens">Koen</a> has
            read 55 books toward
            his goal of
            60 books.
        </div>
        <div style="width: 100px; margin: 4px 5px 5px 0; float: left; border: 1px solid #382110; height: 8px; overflow: hidden; background-color: #FFF">
            <div style="width: 91%; background-color: #D7D2C4; float: left"><span style="visibility:hidden">hide</span></div>
        </div>
        <div style="font-family: arial, verdana, helvetica, sans-serif;font-size:90%">
            <a rel="nofollow" href="https://www.goodreads.com/user_challenges/10378648">55 of 60 (91%)</a>
        </div>
        <div style="text-align: right;">
            <a style="text-decoration: none; font-size: 10px;" rel="nofollow" href="https://www.goodreads.com/user_challenges/10378648">view books</a>
        </div>
    </div>
    <script src="https://www.goodreads.com/user_challenges/widget/29067301-koen-wellens?challenge_id=7501&v=2"></script>
</div>
